<link rel="stylesheet" href="/public/css/history.css" />

<div class="home-wrapper rounded m-1">
  <section class="container mt-4">
    <h1 class="luigi-font text-center">Bem vindo ao Green Tune!</h1>

    <div class="col-12">
      <div class="card mb-3 h-100 d-flex flex-column shadow">
        <div class="row g-0">
          <div class="col-md-4 text-center p-3">
            <img
              style="max-height: 190px"
              src="/public/imgs/luigi_jump.png"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text fs-lg-2">
                O Green Tunes inspira-se na filosofia de ensino que une
                pedagogia e humanismo. Nosso objetivo é transformar a vida de
                famílias e crianças por meio do prendizado musical. Oferecemos
                cursos como Canto, Flauta Doce, Violino, Viola, Violoncelo,
                Violão Clássico e Piano. Reconhecido nacional e
                internacionalmente, o Green Tunes é sinônimo de excelência no
                ensino da música.
              </p>

              <p class="card-text fs-lg-2">
                Nossa abordagem, alinhada à Filosofia Luigi, tem como objetivo
                promover o desenvolvimento integral do aluno, incentivando-o a
                explorar todo o seu potencial natural para aprender e se tornar
                um ser humano completo e realizado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <h1 class="luigi-font text-center">Lore</h1>
    <div class="card text-bg-dark">
      <img
        style="max-height: 600px; opacity: 0.2;"
        src="/public/imgs/card_image4.png"
        class="card-img"
        alt="Imagem de fundo do curso de instrumentos"
      />
      <div class="card-img-overlay">
        <h5 class="card-title para-outline">
          A Jornada Musical do Curso de Instrumentos
        </h5>
        <p class="card-text para-outline">
          Em um ambiente tranquilo, rodeado pela serenidade de um bosque mágico,
          está o espaço onde a música ganha vida. Esse lugar acolhedor guarda a
          essência de uma história fascinante: a criação de um curso que
          transforma vidas através da harmonia e do aprendizado. Tudo começou
          com a visão de um mestre dedicado, o Professor Luigi, que sonhava
          em unir técnica e paixão pela música. Inspirado pela relação entre
          instrumentos e seus executantes, ele desenvolveu dois métodos
          revolucionários: o Técnicas Maestro 3000, uma abordagem prática para
          dominar a execução musical, e o Player Master, uma ferramenta
          interativa que conecta os alunos às suas composições de forma
          inovadora.
        </p>
        <p class="card-text para-outline">
          No início da jornada, os alunos são recebidos em um espaço de
          aprendizado repleto de desafios e descobertas. As salas, ainda
          envoltas em mistério, representam as etapas de domínio musical. Cada
          uma guarda lições valiosas, que vão desde o desenvolvimento da técnica
          até o despertar da expressão artística. Ao desbravá-las, os alunos
          "iluminam" seu caminho, conquistando baús metafóricos recheados de
          conhecimento, experiência e habilidades.
        </p>
        <p class="card-text para-outline">
          No decorrer do curso, os participantes encontram os Três Medalhões
          Musicais: Harmonia, para unir as notas em perfeita sinfonia; Ritmo,
          que guia o pulso da música; Expressão, que dá alma à performance.
          Esses elementos são incorporados ao aprendizado e ajudam os alunos a
          superar obstáculos mais complexos, como a execução de peças elaboradas
          e a adaptação de estilos diversos. No ápice da jornada, os alunos
          enfrentam um grande desafio: a preparação para o recital final.
          Guiados pelo Professor Luigi, eles refinam suas técnicas, aprendem
          a trabalhar sob pressão e descobrem sua voz musical única.
        </p>
        <p class="card-text para-outline">
          A conquista desse momento marca o amadurecimento como músicos, mas
          também o começo de uma nova fase. Como recompensa por seus esforços,
          os alunos têm a oportunidade de explorar o "Módulo Avançado Oculto",
          onde encontram versões mais desafiadoras das lições iniciais. Nesse
          estágio, eles revisitam suas habilidades com maior profundidade,
          enfrentam novos desafios e elevam seu domínio do instrumento a um
          patamar profissional.
        </p>
        <p class="card-text para-outline">
          Assim, o curso não é apenas sobre aprender a tocar, mas sobre viver
          uma história repleta de superação, inspiração e música, tornando cada
          participante o protagonista de sua própria sinfonia.
        </p>
      </div>
    </div>
  </section>

  <section class="container mt-4">
    <h1 class="luigi-font text-center">Nossos objetivos</h1>
    <div class="row">
      <div class="col-12 border">
        <ul class="list-group bg-success">
          <li class="list-group-item">
            <i class="fa-solid fa-star"></i>
            An item
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-star"></i>
            An item
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-star"></i>
            An item
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-star"></i>
            An item
          </li>
          <li class="list-group-item">
            <i class="fa-solid fa-star"></i>
            An item
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="text-center m-1">
    <a href="#!luigi_sings">
      <img
        style="width: 10%"
        src="/public/animated/luigi_cowboy.gif"
        class="img-fluid"
        alt=""
      />
    </a>
  </div>
</div>
