<link rel="stylesheet" href="/public/css/home.css" />

<div class="home-wrapper rounded m-1">
  <div
    id="carouselExampleAutoplaying"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/public/imgs/guitar_class1.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="/public/imgs/guitar_class3.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="/public/imgs/guitar_class2.png"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="container py-5 ">
    <div class="row d-flex">
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <i class="fa-solid fa-fire"></i>
              </div>
              <div class="col-8">
                <h2>Titulo</h2>
              </div>
            </div>
            This is some text within a card body.
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <i class="fa-solid fa-fire"></i>
              </div>
              <div class="col-8">
                <h2>Titulo</h2>
              </div>
            </div>
            This is some text within a card body.
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <i class="fa-solid fa-fire"></i>
              </div>
              <div class="col-8">
                <h2>Titulo</h2>
              </div>
            </div>
            This is some text within a card body.
          </div>
        </div>
      </div>




    </div>
  </section>

  <section class="bg-success text-center text-white py-5">
    <h2>Vídeo de uma pessoa tocando violão</h2>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/dQw4w9WgXcQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </section>

  <footer class="bg-light text-center py-3">
    <p>Créditos da página</p>
  </footer>
</div>
