<div class="home-wrapper rounded m-1">

    <div style="height: 1px;"></div>
    <h1 class="text-center luigi-font mt-3">Planos</h1>
    
  <section class="container mt-4">
    <div class="row d-flex">
      <div class="col-12 col-lg-4 mb-3">
        <div class="card h-100 d-flex flex-column shadow">
          <img
            src="/public/imgs/card_image3.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <!-- <div class="icon-container">
                  <i class="fa-solid fa-fire"></i>
                </div> -->
            <h4 class="text-center">
              Projetos Práticos para Colocar o Conhecimento em Ação!
            </h4>
            <p>
              Saia da teoria e mergulhe na prática! Nossos cursos incluem
              atividades e projetos que simulam cenários reais do mercado. Ao
              finalizar cada módulo, você terá a oportunidade de aplicar o que
              aprendeu e construir um portfólio impressionante. Dessa forma,
              você não só entende os conceitos como também demonstra sua
              capacidade de executá-los com excelência.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-3">
        <div class="card h-100 d-flex flex-column shadow">
          <img
            src="/public/imgs/card_image1.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <!-- <div class="icon-container">
                  <i class="fa-solid fa-fire"></i>
                </div> -->
            <h4 class="text-center">
              Material Exclusivo e Modelos ecológicos!
            </h4>
            <p>
              Atendemos clientes que se preocupam com o meio ambiente,
              oferecendo instrumentos ecológicos feitos de madeiras sustentáveis
              ​​ou recuperadas, embaladas em materiais recicláveis. Além disso,
              Ao se inscrever, você terá acesso a uma vasta biblioteca de
              recursos complementares. São e-books, artigos, modelos prontos e
              ferramentas que vão enriquecer sua experiência de aprendizado.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 mb-3">
        <div class="card h-100 d-flex flex-column shadow">
          <img
            src="/public/imgs/card_image2.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <!-- <div class="icon-container">
                  <i class="fa-solid fa-fire"></i>
                </div> -->
            <h4 class="text-center">Suporte Dedicado para Alunos!</h4>
            <p>
              Você nunca estará sozinho em sua jornada de aprendizado. Nossa
              equipe de suporte inclui professores qualificados e tutores
              preparados para tirar suas dúvidas, orientar seus estudos e ajudar
              você a superar qualquer desafio. Disponível por chat, e-mail ou
              fóruns de discussão, o suporte é rápido, humano e focado no seu
              sucesso.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
