<link rel="stylesheet" href="/public/css/teacher.css" />

<div class="home-wrapper rounded m-1">
  <div style="height: 1px"></div>
  <h1 class="text-center luigi-font mt-3">Professores</h1>
  <section class="container mt-4">
    <div class="row d-flex justify-content-around flex-wrap">
      <!-- Luigi -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img
            src="/public/imgs/real-luigui.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">Luigi</h2>
            <p class="card-text">Deus</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseLuigi-telefone"
                    aria-expanded="false"
                    aria-controls="flush-collapseLuigi-telefone"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapseLuigi-telefone"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">Todo mundo quer</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseLuigi-email"
                    aria-expanded="false"
                    aria-controls="flush-collapseLuigi-email"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapseLuigi-email"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">luiginumero1@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="luigi">.</div>
        </div>
      </div>

      <!-- Waluigi -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="/public/imgs/waluigi.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">WaLuigi</h2>
            <p class="card-text">Profissional em violão e piano</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">999999999999</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">waluigino2@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="waluigi">.</div>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-around flex-wrap">
      <!-- Toad -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="/public/imgs/waluigi.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">WaLuigi</h2>
            <p class="card-text">Profissional em violão e piano</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">999999999999</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">waluigino2@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="waluigi">.</div>
        </div>
      </div>

      <!-- Koopa -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="/public/imgs/waluigi.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">WaLuigi</h2>
            <p class="card-text">Profissional em violão e piano</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">999999999999</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">waluigino2@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="waluigi">.</div>
        </div>
      </div>

      <!-- Bob -->
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img src="/public/imgs/waluigi.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <h2 class="card-title fw-bold luigi-font">WaLuigi</h2>
            <p class="card-text">Profissional em violão e piano</p>
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  ><i class="fa-solid fa-phone me-1"></i>
                    Telefone
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">999999999999</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  ><i class="fa-solid fa-envelope me-1"></i>
                    Email
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">waluigino2@gmail.com</div>
                </div>
              </div>
            </div>
          </div>
          <div href="#" class="waluigi">.</div>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center m-1">
    <a href="#!luigi_sings">
      <img
        style="width: 10%"
        src="/public/animated/luigi_cowboy.gif"
        class="img-fluid"
        alt=""
      />
    </a>
  </div>

  <!-- <img src="/public/imgs/real-luigui.jpg">
    <img src="/public/imgs/Luigi.png"> -->
</div>
