<link rel="stylesheet" href="/public/css/teacher.css" />

<div class="home-wrapper rounded m-1">
  <div style="height: 1px"></div>
  <h1 class="text-center luigi-font mt-3">Professores</h1>
  <section class="container mt-4">
    <div class="row d-flex justify-content-around flex-wrap">
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img
            src="/public/imgs/real-luigui.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
        <div class="card mb-4" style="width: 18rem">
          <img
            src="/public/imgs/real-luigui.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title fw-bold">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-around flex-wrap">
        <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
            <div class="card mb-4" style="width: 18rem">
              <img
                src="/public/imgs/real-luigui.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the
                  bulk of the card's content.
                </p>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
            <div class="card mb-4" style="width: 18rem">
              <img
                src="/public/imgs/real-luigui.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the
                  bulk of the card's content.
                </p>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="col-12 col-md-4 d-flex justify-content-center flex-wrap">
            <div class="card mb-4" style="width: 18rem">
              <img
                src="/public/imgs/real-luigui.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title fw-bold">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the
                  bulk of the card's content.
                </p>
              </div>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
  </section>

  <div class="text-center m-1">
    <a href="#!luigi_sings">
      <img
        style="width: 10%"
        src="/public/animated/luigi_cowboy.gif"
        class="img-fluid"
        alt=""
      />
    </a>
  </div>

  <!-- <img src="/public/imgs/real-luigui.jpg">
    <img src="/public/imgs/Luigi.png"> -->
</div>
