:root{
    --dark_green: #45b245;
    --luigi_green: #40e54f;
    --luigi_blue: 	#0044ff;
    --luigi_pants: #3b5bf2;
    --soft_green: #22B24C;
}

.home-wrapper{
    background-color:var(--luigi_pants) ;
    height: 1500px;
    color: white;
}

img{
    max-height: 1000px;
}


